body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}

.card {
    background: #1e293b;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background: gold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}
